body.single-application {
	.page-title { margin-bottom:0; }
	.woocommerce-breadcrumb { 
		margin-bottom: 10px;
		display:inline-block;
	}
	.updates-trigger {
		float:right;
		cursor:pointer;
	}
	.main-1 {	
		.grid { @include row(30px, 25px 30px 20px); }
		@include gradient(#fff, #dce1ed);
		border: 1px solid #fff;
		.main-1-1 {
			@extend %seven-tenths;
			.image { 
				display:block;
				border:2px solid $accent-color; 
			}
			img { 
				width:100%;
				height:auto;
				display:block;
			}
			.updates-trigger {
				@extend %fade;
				@include font-size(15px);
				text-decoration:underline;
				color:$red;	
				font-weight:900;
			}
		}
		.main-1-2 {
			@extend %three-tenths;
			vertical-align:bottom;
			&:before {
				@extend %psock-stretch;
				@include pos(abs,-11px null null 37px);
				background: url(../img/swoosh-bg.png) no-repeat 0 0;
			}
			h2 {
				line-height:1.5;
				margin-bottom:-2px;
				div { color:$accent-color; }
			}
			.thumbs {
				@extend %nav;
				@include row(15px);
				li {
					@extend %one-half;
					margin-top:15px;
					a { border:2px solid $accent-color; }
					img {
						width:100%;
						height:auto;
						display:block;
					}
				}
			}
		}
	}
	.main-2 {
		padding:20px 30px 1px;
		padding-bottom:1px;
		@include gradient(#eee, #c8c8c8);
	}
	.main-3 {
		padding:20px 30px 10px;
		h3 { margin-bottom:10px; }
		.products {
			@include row(35px);
			clear:both;
			> div { 
				@extend %one-half;
				margin-bottom:0;
			}
			.product {
				display:inline-block;
				padding: 25px 20px 15px 0;
				height:100%;
				&:before {
					@extend %psock-h;
					@extend %pos-1;
					@include opacity(0.4);
					border-top:1px solid $accent-color;			
				}
				img { 
					float:left;
					margin-right:25px;
				}
				.body {
					@include font-size(14px);
					display:table-cell;
					position:static;
					vertical-align:top;
					.inner {
						position:static;
						padding-bottom:20px;
					}
					h2 { 
						@extend %h4;
						margin-bottom:5px;
						a { 
							@extend %content-a;
							color:$main-color;
							border-color: $main-color;
						}
					}
					.link {
						@extend %main-btn;
						@include pos(abs, null null 20px 175px);
					}
				}
			}
		}
		.expand {
			cursor:pointer;
			margin-bottom:5px;
			text-align:center;
			text-decoration:underline;
			padding-top:10px;
			&:before {
				@extend %psock-h;
				@extend %pos-1;
				@include opacity(0.4);
				border-top:1px solid $accent-color;			
			}
			&:after {
				content:">>";
				display:inline-block;
				font-size:13px;
				margin-left:5px;
			}
		}
	}
	.hidden { display:none; }
	
	#the-popup {
		> div {
			@extend %main-gradient;
			@extend %main-form-theme;
			@extend %zebra-form;
			@include glow(10px);
			width:400px;
			padding:20px 20px 10px;
			border-radius:4px;
			h3 { 
				@include font-size(18px);
				color:$red;
			}
			input[type='submit'] { float:right; }
		}
	}
	[id^='Zebra_Form_error_message_updates'] { position:fixed; }
}