%main-btn {	
	@include fade(false);
	border-radius: 4px;
	background:$accent-color-light;
	@include font-size(14px);
	color:#fff;
	border:0;
	padding: 4px 13px;		
	font-weight: 700;
	letter-spacing:1px;
}

%widget-btn {
	@include darken-gradient($accent-color-light, 17%);
	@include fade(false);
	@include font-size(14px);
	border-radius: 5px;
	color:#dedede;
	border:0;
	padding: 3px 15px 4px;	
}

%widget-btn--lg	{
	@extend %widget-btn;
	@include font-size(17px);
	padding: 4px 17px;			
}